*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f6f9;
display:flex;
justify-content:center;
padding:40px;
}

.container{
background:white;
padding:30px;
width:450px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

h1{
text-align:center;
margin-bottom:20px;
color:blue
}

.summary{
display:flex;
justify-content:space-between;
background:#eee;
padding:15px;
border-radius:10px;
margin:20px 0;
}

#money-plus{
color:green;
font-weight:bold;
}

#money-minus{
color:red;
font-weight:bold;
}

ul{
list-style:none;
margin-bottom:20px;
}

li{
background:#fafafa;
padding:10px;
margin:10px 0;
display:flex;
justify-content:space-between;
align-items:center;
}

.delete-btn{
padding:6px 10px;
cursor:pointer;
}

form{
display:flex;
flex-direction:column;
}

input{
padding:12px;
margin:10px 0;
}

button{
padding:12px;
border:none;
cursor:pointer;
border-radius:6px;
}

canvas{
margin-top:25px;
}
